.header_section {
    width: 100%;
    height: 160px;
    margin-top: 20px;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slider_orange_img {
	position: absolute;
	right: 0;
	top: 0;
}

.header_section_right {
  width: 160px;
  display: flex;
  justify-content: space-between;
}

.header_section_nav {
  display: flex;
  width: 400px;
  justify-content: space-between;
}


.nav_menu_header a {
  text-decoration: none;
  color: black;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
}